.ea_table {
    border: 1px solid #ddd;
    display: block;
    overflow-y: hidden;
    box-sizing: border-box;
    float: left;
    height:auto;
    width: 100%;
  }
  
  .ea_table tbody, thead {
    flex-direction: column;
    display: flex;
  }
  
  .ea_table tbody {
    height: 470px;
    overflow: auto;
  }
  
  .ea_table thead {
    border-bottom: 1px solid #ddd;
  }
  
  .ea_table tr {
    display: flex;
  }
  
   
  .ea_table th, .ea_table td {
    width : 10px;
    text-align: center;
    font-size: 0.75rem;
    padding: 1.5rem;
    flex: 1;
  }

  
