<div class="card">
  <div class="form-group">
      <p style="text-align:right"><button (click)="ExportTOExcel()">Export to Excel</button></p> 
          <table #table class="table table-sm table-striped table-dark ea_table">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Account</th>
                      <th scope="col">Track</th>
                      <th scope="col">TargetPHC<a *ngIf="showUpdatebuttonflag"><input type="button" value="update" (click)="updateDB()"></a></th>
                      <th scope="col">TargetVOL</th>
                      <th scope="col">PHC Today</th>
                      <th scope="col">Vol Today</th>
                      <th scope="col">PHC EndState</th>
                      
                      <th scope="col">PHC gap</th>
                      <th scope="col">Vol gap</th>
                     
                     <th scope="col">Remarks</th>
                     <th scope="col">Edit</th>
                      
                      
                    </tr>
                
                  </thead>
                 
                  <tbody>
                    <tr *ngFor="let acntPV of accountPV; index as i">
                      
                      <td scope="row">{{i+1}}</td>
                      <td scope="row">{{acntPV.accountName}}</td>
                      <td scope="row">{{acntPV.accountTrack}}</td>
                      

                      <td scope="row">
                        <p *ngIf="showTextbox[i] && loginService.isAdmin()"><input type=text appOnlynumber required [(ngModel)]="phcTarget[i]" (change)="updateAcntBENPBE(i)"></p>
                        <p *ngIf="showTextbox[i] && !loginService.isAdmin()">{{acntPV.phcTarget}}</p>
                        <p *ngIf="!showTextbox[i]">{{acntPV.phcTarget}}</p>
                      </td>
                      <td scope="row">
                        <p *ngIf="showTextbox[i] && loginService.isAdmin()"><input type=text [(ngModel)]="volTarget[i]" (change)="updateAcntBENPBE(i)"></p>
                        <p *ngIf="showTextbox[i] && !loginService.isAdmin()">{{acntPV.volTarget}}</p>
                        <p *ngIf="!showTextbox[i]">{{acntPV.volTarget}}</p>
                      </td>

                    

                      <td scope="row">{{acntPV.phcAOD}}</td>
                      <td scope="row">{{acntPV.volAOD | number:'1.2-2' }}</td>
                      <td scope="row">{{acntPV.phcAOL}}</td>
                      

                      


                      
                                            
                      <td scope="row">{{acntPV.phcTarget-acntPV.phcAOL}}</td>
                      <td scope="row">{{acntPV.volTarget-acntPV.volAOD | number:'1.2-2' }}</td>

                      <td scope="row">
                        <div class="wrap" *ngIf="showTextbox[i]"><textarea class="e-input" placeholder="Address" [(ngModel)]="remarks[i]" (change)="updateAcntBENPBE(i)"></textarea></div>

                        <p *ngIf="!showTextbox[i]">{{acntPV.remarks}}</p>
                      </td>

                      
                      <td scope="row">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" (click)="toggleTextbox(i); toggleUpdatebutton()"> </td>
                    
                    </tr>
                   <tr>
                        <td scope="row"></td>
                        <td scope="row">Total</td>
                        <td scope="row"></td>
                        <td scope="row">{{totalPV[0]}}</td>
                        <td scope="row">{{totalPV[1] | number:'1.2-2' }}</td>
                        <td scope="row">{{totalPV[2]}}</td>
                        <td scope="row">{{totalPV[3] | number:'1.2-2' }}</td>
                        <td scope="row">{{totalPV[4]}}</td>
                        
                        <td scope="row">{{totalPV[6]}}</td>
                        <td scope="row">{{totalPV[7] | number:'1.2-2' }}</td>
                        <td scope="row"></td>
                        <td scope="row"></td>

                    </tr> 
                  </tbody>
            
                
                </table>
     </div>
</div>