<div class="card">
    <div class="table-responsive form-group">
        <p style="text-align:right"><button (click)="ExportTOExcel()">Export to Excel</button></p> 
            <table #table class="table table-sm table-striped table-dark" id="exportable">
                    <thead>
                      <tr>
                        
                        <th scope="col">DM</th>
                        
                        <th scope="col">TargetPHC<a *ngIf="showUpdatebuttonflag"><input type="button" value="update" (click)="updateDB()"></a></th>
                        <th scope="col">TargetVOL</th>
                        <th scope="col">PHC Today</th>
                        <th scope="col">VOL Today</th>
                        <th scope="col">Phc Endstate</th>
                        
                        <th scope="col">PHC gap</th>
                        <th scope="col">Vol gap</th>
                       
                       
                       
                        
                        
                      </tr>
                    </thead>
                    
                   
                    <tbody>
                        <tr>
                          
                            <td scope="row">Amit</td>
                            
                            <td scope="row">{{totalPV1[0]}}</td>
                            <td scope="row">{{totalPV1[1] | number:'1.2-2' }}</td>
                            <td scope="row">{{totalPV1[2]}}</td>
                            <td scope="row">{{totalPV1[3] | number:'1.2-2' }}</td>
                            <td scope="row">{{totalPV1[4]}}</td>
                            
                            <td scope="row">{{totalPV1[6]}}</td>
                            <td scope="row">{{totalPV1[7] | number:'1.2-2' }}</td>
                            
                            
    
                        </tr> 
                        <tr>
                            
                          <td scope="row">Bindu</td>
                          
                          <td scope="row">{{totalPV2[0]}}</td>
                          <td scope="row">{{totalPV2[1] | number:'1.2-2' }}</td>
                          <td scope="row">{{totalPV2[2]}}</td>
                          <td scope="row">{{totalPV2[3] | number:'1.2-2' }}</td>
                          <td scope="row">{{totalPV2[4]}}</td>
                          
                          <td scope="row">{{totalPV2[6]}}</td>
                          <td scope="row">{{totalPV2[7] | number:'1.2-2' }}</td>
                          
                          
  
                      </tr> 
                      <tr>
                            
                        <td scope="row">Harish</td>
                        
                        <td scope="row">{{totalPV3[0]}}</td>
                        <td scope="row">{{totalPV3[1] | number:'1.2-2' }}</td>
                        <td scope="row">{{totalPV3[2]}}</td>
                        <td scope="row">{{totalPV3[3] | number:'1.2-2' }}</td>
                        <td scope="row">{{totalPV3[4]}}</td>
                        
                        <td scope="row">{{totalPV3[6]}}</td>
                        <td scope="row">{{totalPV3[7] | number:'1.2-2' }}</td>
                        
                        
  
                    </tr> 

                     
                  <tr>
                          
                    <td scope="row">NP</td>
                    
                    <td scope="row">{{totalPV4[0]}}</td>
                    <td scope="row">{{totalPV4[1] | number:'1.2-2' }}</td>
                    <td scope="row">{{totalPV4[2]}}</td>
                    <td scope="row">{{totalPV4[3] | number:'1.2-2' }}</td>
                    <td scope="row">{{totalPV4[4]}}</td>
                    
                    <td scope="row">{{totalPV4[6]}}</td>
                    <td scope="row">{{totalPV4[7] | number:'1.2-2' }}</td>
                    
                    

                </tr> 

                <tr>
                          
                    <td scope="row">Mukul</td>
                    
                    <td scope="row">{{totalPV5[0]}}</td>
                    <td scope="row">{{totalPV5[1] | number:'1.2-2' }}</td>
                    <td scope="row">{{totalPV5[2]}}</td>
                    <td scope="row">{{totalPV5[3] | number:'1.2-2' }}</td>
                    <td scope="row">{{totalPV5[4]}}</td>
                    
                    <td scope="row">{{totalPV5[6]}}</td>
                    <td scope="row">{{totalPV5[7] | number:'1.2-2' }}</td>
                    
                    

                </tr> 
                <tr>
                          
                    <td scope="row">Total</td>
                    
                    <td scope="row">{{totalPV1[0]+totalPV2[0]+totalPV3[0]+totalPV4[0]+totalPV5[0]}}</td>
                    <td scope="row">{{totalPV1[1]+totalPV2[1]+totalPV3[1]+totalPV4[1]+totalPV5[1] | number:'1.2-2' }}</td>
                    <td scope="row">{{totalPV1[2]+totalPV2[2]+totalPV3[2]+totalPV4[2]+totalPV5[2]}}</td>
                    <td scope="row">{{totalPV1[3]+totalPV2[3]+totalPV3[3]+totalPV4[3]+totalPV5[3] | number:'1.2-2' }}</td>
                    <td scope="row">{{totalPV1[4]+totalPV2[4]+totalPV3[4]+totalPV4[4]+totalPV5[4]}}</td>
                    
                    <td scope="row">{{totalPV1[6]+totalPV2[6]+totalPV3[6]+totalPV4[6]+totalPV5[6]}}</td>
                    <td scope="row">{{totalPV1[7]+totalPV2[7]+totalPV3[7]+totalPV4[7]+totalPV5[7] | number:'1.2-2' }}</td>
                    
                    

                </tr> 
                
                    </tbody>
              
                  
                  </table>
       </div>
  </div>
